.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: var(--spacing-small) 0;
}

.table td:last-child,
.table th:last-child {
  /* border-right: none; */
  /* border-bottom: none; */
}

.table td{
    vertical-align: middle;
    text-align: center;
}