.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: var(--spacing-medium) 0;
}

.table td:last-child,
.table th:last-child {
  /* border-right: none; */
  /* border-bottom: none; */
}

.table td{
    vertical-align: middle;
    text-align: center;
}

.table td:nth-child(2),
.table th:nth-child(2) {
    text-align: left;
}

.table button {
    /* background-color: rgb(177, 134, 134); */
}