@import './var/vars.css';
@import 'text.css';
@import 'default.css';


.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.d-none {
  display: none !important;
}

.d-hidden {
  visibility: hidden !important;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.flex-grow {
  flex: 1;
}
