.container {
    background-color: var(--background-color);
    
}

.container {
    font-size: var(--display-font);
    text-align: center;
    padding: var(--spacing-small);
}

@media screen and (max-width: 40em) {
    .container {
        font-size: 0.7em;
    }
}